* {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MyriadPro', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

body, html {
  height: 100%;
  width: 100%; }

main {
  flex: 1 0 auto;
  position: relative; }

section {
  position: relative; }

.container {
  width: 100%;
  margin: 0 auto; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

.icon {
  cursor: pointer; }

li {
  list-style: none;
  padding: 0; }

@font-face {
  font-family: 'MyriadPro';
  src: url(../fonts/MyriadPro-Regular.woff2), url(../fonts/MyriadPro-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal; }
@font-face {
  font-family: 'SegoeUI';
  src: url(../fonts/SegoeUi-SemiBold.woff2), url(../fonts/SegoeUi-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal; }
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black; }
  .header .container {
    max-width: 1400px;
    padding: 0 100px; }
  .header .wrapper {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .left {
    display: flex;
    align-items: center; }
  .header .logo {
    display: flex;
    transition: .3s linear; }
  .header .logo-more {
    height: 60px;
    z-index: 2; }
  .header .logo-less {
    position: relative;
    top: 18px;
    left: -26px;
    z-index: 1;
    height: 40px; }
  .header .logo:hover {
    opacity: .7; }
  .header .header-nav {
    display: flex; }
    .header .header-nav li {
      display: inline-block;
      padding: 40px 15px;
      cursor: pointer; }
    .header .header-nav a {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      transition: .3s linear; }
    .header .header-nav li:hover a {
      color: yellowgreen; }
  .header .right .icons {
    display: flex;
    align-items: center; }
  .header .right .search, .header .right .basket {
    margin: 0 25px;
    align-items: center;
    transition: .3s linear; }
  .header .right .search img {
    transition: .3s linear; }
  .header .right .search img:nth-child(1) {
    display: none; }
  .header .right .search:hover img:nth-child(1) {
    display: inline;
    cursor: pointer; }
  .header .right .search:hover img:nth-child(2) {
    display: none; }
  .header .right .basket {
    width: 38px;
    display: flex;
    justify-content: space-between;
    margin-right: 0; }
    .header .right .basket .icon img {
      transition: .3s linear; }
    .header .right .basket .icon img:nth-child(1) {
      display: none; }
    .header .right .basket .icon:hover img:nth-child(2) {
      display: none; }
    .header .right .basket .icon:hover img:nth-child(1) {
      display: inline;
      cursor: pointer; }
  .header .right .sum {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase; }
  .header .right .header-burger {
    display: none; }

@media (max-width: 1024px) {
  .header {
    height: 95px; }
    .header .container {
      padding: 0 20px; }
      .header .container .header-nav {
        display: none !important; }
      .header .container .header-nav.active-header-nav {
        display: block !important;
        flex-direction: column;
        position: absolute;
        top: 95px;
        left: 0;
        z-index: 50;
        margin: 0;
        padding: 0;
        background-color: black; }
        .header .container .header-nav.active-header-nav li {
          width: 100vw;
          text-align: center;
          padding: 15px 0;
          border-bottom: 2px solid white; }
        .header .container .header-nav.active-header-nav li:nth-child(1) {
          border-top: 2px solid white; }
      .header .container .icons .sum {
        margin-left: 10px; }
      .header .container .icons .header-burger {
        display: block !important;
        cursor: pointer;
        margin-left: 50px; }
        .header .container .icons .header-burger img {
          height: 40px;
          width: 40px; }
        .header .container .icons .header-burger img:nth-child(2) {
          display: none; } }
@media (max-width: 567px) {
  .header .left .logo .logo-more {
    height: 45px; }
  .header .left .logo .logo-less {
    height: 33px;
    top: 11px;
    left: -23px; } }
.intro .swiper-slide {
  position: relative; }
  .intro .swiper-slide .background img {
    height: 100vh;
    width: 100%;
    object-fit: cover; }
  .intro .swiper-slide .wrapper-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center; }
  .intro .swiper-slide .content {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .intro .swiper-slide .title {
    max-width: 460px;
    margin-bottom: 50px;
    font-family: "SegoeUi", sans-serif;
    font-weight: 400; }
    .intro .swiper-slide .title h1 {
      color: #000;
      font-size: 80px;
      text-transform: uppercase; }
  .intro .swiper-slide .intro-btn {
    max-width: 220px;
    text-align: center;
    padding: 15px 35px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background-color: black;
    border: 2px solid black;
    transition: all .2s ease; }
  .intro .swiper-slide .intro-btn:hover {
    color: black;
    background-color: white; }
.intro .swiper-slide:nth-child(1) .content {
  max-width: 540px;
  margin: 16% 12% 0 0; }
.intro .swiper-slide:nth-child(1) .intro-btn {
  align-self: flex-end; }
.intro .swiper-slide:nth-child(2) .content {
  max-width: 460px;
  margin-left: 12%; }
.intro .swiper-slide:nth-child(2) .title h1 {
  color: #fff; }

@media (max-width: 1024px) {
  .intro .swiper-slide:nth-child(2) .background img {
    object-position: 89%; }
  .intro .swiper-slide:nth-child(2) .content {
    margin-left: -12%; } }
@media (max-width: 768px) {
  .intro .swiper-slide .title h1 {
    font-size: 60px; }
  .intro .swiper-slide:nth-child(1) .content {
    margin: 0 15px; }
  .intro .swiper-slide:nth-child(1) .title {
    text-align: center;
    max-width: 100%; }
  .intro .swiper-slide:nth-child(1) .intro-btn {
    align-self: center; } }
@media (max-width: 567px) {
  .intro .swiper-slide .title {
    margin: 0 0 30px 0; }
    .intro .swiper-slide .title h1 {
      font-size: 50px; }
  .intro .swiper-slide .intro-btn {
    max-width: 290px;
    width: 100%; }
  .intro .swiper-slide:nth-child(2) .content {
    margin: 15px; }
  .intro .swiper-slide:nth-child(2) .title {
    text-align: center; }
  .intro .swiper-slide:nth-child(2) .intro-btn {
    align-self: center; } }
.series {
  padding: 150px 0 210px;
  text-align: center; }
  .series .container {
    max-width: 1400px; }
  .series .title {
    margin-bottom: 110px; }
    .series .title h2 {
      color: #000;
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-weight: 400; }
    .series .title h3 {
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .series .title img {
      height: 30px;
      width: 30px;
      margin: 0 auto; }
  .series .swiper {
    margin-bottom: 60px; }
    .series .swiper .swiper-slide {
      width: 32%;
      opacity: .5;
      text-align: center;
      transition: all .2s ease; }
      .series .swiper .swiper-slide img {
        height: 418px; }
    .series .swiper .swiper-slide-active {
      opacity: 1; }
  .series .text {
    color: #000;
    font-size: 24px;
    text-transform: uppercase; }
  .series .swiper-btn {
    height: 225px;
    width: 120px; }

.company {
  display: flex;
  align-items: center; }
  .company .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover; }
  .company .container {
    padding: 0 36% 0 200px; }
  .company .content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    padding: 20% 0; }
  .company .title {
    margin-bottom: 75px; }
    .company .title h2 {
      color: #fff;
      font-size: 50px;
      text-transform: uppercase;
      font-family: "SegoeUi", sans-serif; }
  .company .text {
    color: #fff;
    font-size: 15px;
    text-transform: none;
    line-height: 1.8; }
  .company .text:nth-child(1) {
    margin-bottom: 45px; }

@media (max-width: 1024px) {
  .company .background {
    object-position: 66%; }
  .company .container {
    padding-left: 30px; }
  .company .title {
    margin-bottom: 60px; }
    .company .title h2 {
      font-size: 42px; }
  .company .text:nth-child(1) {
    margin-bottom: 0; } }
@media (max-width: 567px) {
  .company {
    margin-top: 15px;
    margin-bottom: 10px; }
    .company .background {
      display: none; }
    .company .container {
      padding: 0 15px; }
    .company .content {
      text-align: center;
      padding: 15px 0; }
    .company .title {
      margin-bottom: 25px; }
      .company .title h2 {
        color: #000;
        font-size: 28px;
        text-transform: uppercase; }
    .company .description .text {
      width: 100%;
      margin-bottom: 0;
      color: #000;
      font-size: 15px;
      text-transform: none; } }
.features {
  margin: 110px 0 115px;
  text-align: center; }
  .features .container {
    max-width: 940px;
    width: 100%;
    padding: 0 30px; }
  .features h2 {
    color: #000;
    font-size: 48px;
    text-transform: uppercase;
    font-family: "SegoeUi", sans-serif;
    margin-bottom: 35px; }
  .features img {
    width: 30px;
    margin: 0 auto 70px; }
  .features .features-items {
    display: flex;
    justify-content: space-between; }
    .features .features-items .item {
      width: 23%;
      margin-bottom: 15px;
      transition: all .2s ease; }
    .features .features-items img {
      margin-bottom: 15px;
      width: 100%; }
    .features .features-items p {
      line-height: 1.9;
      color: #000;
      font-size: 16px;
      text-transform: none; }
    .features .features-items .item:hover img {
      opacity: .7; }
    .features .features-items .item:hover p {
      color: yellowgreen; }

@media (max-width: 1024px) {
  .features {
    margin: 20px 0 30px; }
    .features .title {
      margin-bottom: 30px; }
    .features .features-items {
      flex-wrap: wrap; }
      .features .features-items .item {
        width: 34%; } }
@media (max-width: 567px) {
  .features {
    margin-bottom: 45px; }
    .features .title {
      margin-bottom: 20px; }
      .features .title h2 {
        margin-bottom: 25px; }
    .features .features-items {
      justify-content: center; }
      .features .features-items .item {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px; } }
.footer {
  background-color: black;
  padding: 78px 0 60px; }
  .footer .container {
    max-width: 1000px; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px 0; }
  .footer .products, .footer .about, .footer .support, .footer .newsletter {
    width: 23%;
    margin-bottom: 68px; }
    .footer .products h3, .footer .about h3, .footer .support h3, .footer .newsletter h3 {
      color: #babdb5;
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 24px; }
    .footer .products a, .footer .about a, .footer .support a, .footer .newsletter a {
      color: #a6a8a3;
      font-size: 16px;
      text-transform: none;
      line-height: 2; }
    .footer .products a:hover, .footer .about a:hover, .footer .support a:hover, .footer .newsletter a:hover {
      color: yellowgreen; }
  .footer .newsletter .form {
    margin-bottom: 70px;
    display: flex; }
  .footer .newsletter .input {
    height: 40px;
    border: 0;
    padding: 10px; }
  .footer .newsletter .input:hover {
    border: 3px solid yellowgreen; }
  .footer .newsletter .btn {
    height: 40px;
    width: 60px;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer; }
  .footer .newsletter .btn:hover {
    background-color: yellowgreen; }
  .footer .newsletter-items {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .footer .newsletter-items li {
      height: 20px;
      display: block;
      transition: all .2s ease; }
    .footer .newsletter-items img {
      height: 100%; }
    .footer .newsletter-items img:hover {
      transform: rotate(15deg); }
  .footer .copywriting {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .footer .copywriting .data, .footer .copywriting .region a {
      color: #fff;
      font-size: 14px;
      text-transform: none; }
    .footer .copywriting .icon {
      margin-right: 10px; }
    .footer .copywriting a:hover {
      color: yellowgreen; }

@media (max-width: 1024px) {
  .footer {
    padding-bottom: 70px; }
    .footer .wrapper {
      padding-bottom: 0;
      flex-wrap: wrap; }
    .footer .products, .footer .about, .footer .support {
      width: 30%;
      margin-bottom: 20px; }
    .footer .newsletter {
      width: 70%;
      margin-bottom: 0; }
      .footer .newsletter .newsletter-intro {
        display: flex;
        align-items: center; }
      .footer .newsletter .form {
        margin-bottom: 0; }
    .footer .newsletter-items {
      justify-content: space-around; }
      .footer .newsletter-items li {
        height: 18px; }
    .footer .copywriting {
      width: 29%;
      flex-direction: column-reverse;
      text-align: right;
      justify-content: end; }
      .footer .copywriting .region {
        margin-bottom: 15px; } }
@media (max-width: 768px) {
  .footer {
    padding: 25px 0 40px; }
    .footer .wrapper {
      padding: 0 20px 0; }
    .footer .products, .footer .about {
      width: 45%; }
    .footer .support {
      width: 100%; }
      .footer .support ul {
        display: flex;
        flex-wrap: wrap; }
        .footer .support ul li {
          width: 45%; }
        .footer .support ul li:nth-child(1), .footer .support ul li:nth-child(6) {
          width: 100%; }
    .footer .newsletter {
      width: 100%;
      text-align: center;
      margin-bottom: 30px; }
      .footer .newsletter .newsletter-intro {
        flex-wrap: wrap;
        flex-direction: column; }
      .footer .newsletter .form {
        margin: 0 auto 30px; }
        .footer .newsletter .form input {
          width: 225px; }
      .footer .newsletter ul {
        width: 250px; }
    .footer .copywriting {
      width: 100%;
      margin: 0;
      text-align: center; }
      .footer .copywriting .region {
        margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
