@import './variables-mexins';

.company {
  display:      flex;
  align-items:  center;
  .background {
    width:      100%;
    height:     100%;
    position:   absolute;
    top:        0;
    left:       0;
    z-index:    -1;
    object-fit: cover;
  }
  .container{
    padding: 0 36% 0 200px;
  }
  .wrapper-company {
    //position:     relative;
    //top:          0;
    //left:         0;
    //z-index:      2;
    //display:      flex;
    //align-items:  center;
    //margin-left:  200px;
    //margin-right: 36%;
  }
  .content {
    max-width:      640px;
    display:        flex;
    flex-direction: column;
    padding:        20% 0;
  }
  .title {
    margin-bottom: 75px;
    h2 {
      @include text(#fff, 50px, uppercase);
      font-family: $ffSU;
    }
  }
  .text {
    @include text(#fff, 15px, none);
    line-height: 1.8;
  }
  .text:nth-child(1) {
    margin-bottom: 45px;
  }
}

@media(max-width: 1024px) {
  .company {
    .background{
      object-position: 66%;
    }
    .container {
      padding-left: 30px;
    }
    .title {
      margin-bottom: 60px;
      h2 {
        font-size: 42px;
      }
    }
    .text:nth-child(1) {
      margin-bottom: 0;
    }
  }
}

@media(max-width: 567px) {
  .company {
    margin-top: 15px;
    margin-bottom: 10px;
    .background {
      display: none;
    }
    .container {
      padding: 0 15px;
      //background-color: white;
    }
    .content {
      text-align: center;
      padding:    15px 0;
    }
    .title {
      margin-bottom: 25px;
      h2 {
        @include text(#000, 28px, uppercase);
      }
    }
    .description {
      .text {
        width:         100%;
        margin-bottom: 0;
        @include text(#000, 15px, none);
      }
    }
  }
}