@import './variables-mexins';

.features {
  margin: 110px 0 115px;
  .container {
    max-width: 970px;
    width:     100%;
  }
  .title {
    display:        flex;
    flex-direction: column;
    margin-bottom:  70px;
    h2 {
      @include text(#000, 48px, uppercase);
      font-family:   $ffSU;
      text-align:    center;
      margin-bottom: 35px;
    }
    img {
      width:  30px;
      margin: 0 auto;
    }
  }
  .features-items {
    display:         flex;
    justify-content: space-around;

    .item {
      width:         23%;
      padding:       10px;
      margin-bottom: 15px;
      transition:    all .2s ease;
    }
    img {
      margin-bottom: 15px;
      width:         100%;
    }
    p {
      line-height: 1.9;
      @include text(#000, 16px, none);
    }
    .item:hover img {
      opacity: .7;
    }
    .item:hover p {
      color: yellowgreen;
    }
  }
}

@media(max-width: 1024px) {
  .features {
    margin: 20px 0 30px;
    .title {
      margin-bottom: 30px;
    }
    .features-items {
      flex-wrap: wrap;
      .item {
        width: 34%;
      }
    }
  }
}

@media(max-width: 567px) {
  .features {
    margin-bottom: 45px;
    .title {
      margin-bottom: 20px;
      h2 {
        margin-bottom: 25px;
      }
    }
    .features-items {
      justify-content: center;
      .item {
        width:         100%;
        padding-left:  50px;
        padding-right: 50px;
      }
    }
  }
}
