@import './variables-mexins';

.header {
  width:            100%;
  position:         fixed;
  top:              0;
  left:             0;
  z-index:          1000;
  background-color: black;
  .container {
    max-width: 1400px;
    padding: 0 100px;
  }
  .wrapper {
  height:           105px;
    //height: 100%;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  .left {
    //height:      100%;
    display:     flex;
    align-items: center;
  }
  .logo {
    display:    flex;
    transition: .3s linear;
  }
  .logo-more {
    height:  60px;
    z-index: 2;
  }
  .logo-less {
    position: relative;
    top:      18px;
    left:     -26px;
    z-index:  1;
    height:   40px;
  }
  .logo:hover {
    opacity: .7;
  }
  .header-nav {
    display: flex;
    li {
      display:    inline-block;
      padding:    40px 15px;
      cursor:     pointer;
    }
    a {
      @include text(#fff, 13px, uppercase);
      transition: .3s linear;
    }
    li:hover a {
      color: yellowgreen;
    }
  }
  .right {
    .icons {
      display:     flex;
      align-items: center;
    }
    .search, .basket {
      margin:      0 25px;
      align-items: center;
      transition: .3s linear;
    }
    .search {
      img{
        transition: .3s linear;
      }
      img:nth-child(1) {
        display: none;
      }
    }
    .search:hover img:nth-child(1) {
      display: inline;
      cursor:  pointer;
    }
    .search:hover img:nth-child(2) {
      display: none;
    }
    .basket {
      width:           38px;
      display:         flex;
      justify-content: space-between;
      margin-right:    0;
      .icon{
        img{
          transition: .3s linear;
        }
        img:nth-child(1) {
          display: none;
        }
      }
      .icon:hover img:nth-child(2) {
        display: none;
      }
      .icon:hover img:nth-child(1) {
        display: inline;
        cursor:  pointer;
      }
    }
    .sum {
      @include text(#fff, 13px, uppercase);
    }
    .header-burger {
      display: none;
      //margin-right: 0;
    }
  }
}

@media(max-width: 1024px) {
  .header {
    height: 95px;
    //align-content: center;
    .container {
      padding: 0 20px;
      .header-nav {
        display: none !important;
      }
      .header-nav.active-header-nav {
        display:          block !important;
        flex-direction:   column;
        position:         absolute;
        top:              95px;
        left:             0;
        z-index:          50;
        margin:           0;
        padding:          0;
        background-color: black;
        li {
          width:      100vw;
          text-align: center;
          padding:    15px 0;
          border-bottom:     2px solid white;
        }
        li:nth-child(1){
          border-top: 2px solid white;
        }
      }
      .icons {
        .sum {
          margin-left: 10px;
        }
        .header-burger {
          display:     block !important;
          cursor:      pointer;
          margin-left: 50px;
          img {
            height: 40px;
            width:  40px
          }
          img:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

@media(max-width: 567px) {
  .header {
    .left {
      .logo {
        .logo-more {
          height: 45px;
        }
        .logo-less {
          height: 33px;
          top:    11px;
          left:   -23px;
        }
      }
    }
  }
}
