$ffSU: 'SegoeUi', sans-serif;

@mixin text($color,$fontSize,$textTransform) {
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

.info {
  background-color: black;

  .container {
    .wrapper {
      padding: 78px 0 68px;
      display: flex;
      justify-content: space-between;

      h3 {
        @include text(#babdb5, 25px, uppercase);
        margin-bottom: 24px;
      }

      a {
        @include text(#a6a8a3, 16px, none);
        line-height: 2;
      }

      a:hover {
        color: yellowgreen;
      }

      .products {

      }

      .newsletter {
        .form {
          margin-bottom: 70px;

          .label {
            .input {
              height: 40px;
              width: 160px;
              //padding: 15px;
              //margin-bottom: 70px;
              //position: relative;
              //top: -1px;
              position: absolute;
              top: 0;
              left: 0;
              outline: 0;
              border: 3px solid white;

            }

            .input:hover {
              border: 3px solid yellowgreen;
            }
          }

          //.input:active{
          //  border: 1px solid yellowgreen ;
          //}

          .btn {
            height: 40px;
            width: 60px;
            @include text(black, 15px, uppercase);
            //padding: 14px 15px;
            position: absolute;
            top: 0;
            right:0;
            cursor: pointer;
          }

          .btn:hover {
            background-color: yellowgreen;
          }
        }

        .items {
          display: flex;
          justify-content: space-between;

          .item {
                height: 20px;
                width: 20px;

            background-color: black;
            padding: 10px;
            border-radius: 50%;
                border: 1px solid yellowgreen;
            a {
              height: 100%;
              width: 100%;
              .icon {
                height: 100%;
                width: 100%;
              }


              .icon_1 {
                background: url('../img/info/facebook.png') center no-repeat;
                background-size: cover;
              }
              .icon_2 {
                background: url('../img/info/twitter.png') center no-repeat;
                background-size: cover;
              }
            }

            .item:hover {
              background-color: yellowgreen;
            }
          }
        }
      }
    }
  }
}

.swiper-slide {
  &:nth-child(1){

  }
}