@import './variables-mexins';

.series {
  padding:    155px 0 125px;
  text-align: center;
  .container {
    width: 73%;
  }
  .title {
    margin-bottom: 115px;

    h2 {
      @include text(#000, 48px, uppercase);
      margin-bottom: 40px;
      font-weight:   400;
    }

    h3 {
      @include text(#000, 14px, uppercase);
      margin-bottom: 30px;
    }

    img {
      height: 30px;
      width:  30px;
      margin: 0 auto;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
      margin-bottom:   60px;
    .swiper-wrapper {
      //display:         flex;
      //justify-content: space-between;
      .swiper-slide {
        width: 33.333%;
        //max-width: 167px;
        //margin: 0 120px;
        text-align: center;

        img {
          //display: inline-block;
          //max-width: 100%;
        }
      }
    }
  }
  .text {
    @include text(#000, 24px, uppercase);
    margin-bottom: 215px;
  }
}

