$ffSU: 'SegoeUi', sans-serif;

@mixin text($color,$fontSize,$textTransform) {
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

.series {
  text-align: center;

  .wrapper {
    margin: 0 85px;

    .title {
      margin-bottom: 125px;

      h2 {
        @include text(#000, 48px, uppercase);
        margin: 150px 0 40px;
        font-weight: 400;
      }

      h3 {
        @include text(#000, 14px, uppercase);
        margin-bottom: 30px;
      }

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

    }

    .series-slider {
      .slider-wrapper {
        .slide {
          width: 33.3333%;
          //max-width: 167px;
          //margin: 0 120px;
          text-align: center;

          img {
            display: inline-block;
            max-width: 100%;
          }
        }
      }
    }
    .text {
      @include text(#000, 24px, uppercase);
      margin: 60px 0 215px;
    }
  }
}
